<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Patient hinzufügen</title>
</head>
<body>

<h1>Patient</h1>

<form th:action="@{/patient/add}" th:object="${patient}" method="post">
    <input type="hidden" th:field="*{id}"/>

    Name: <input type="text" th:field="*{name}"/><br>
    Nachname: <input type="text" th:field="*{surname}"/><br>
    SVNR: <input type="text" th:field="*{socialsecuritynumber}"/><br>
    Geschlecht: <input type="text" th:field="*{gender}"/><br>
    Geburtsdatum: <input type="date" th:field="*{birth}"/><br>

    <button type="submit">Speichern</button>
</form>

</body>
</html>