<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Patienten</title>
</head>
<body>

<h1>Patienten</h1>

<a href="/patient/add">Neuer Patient</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Nachname</th>
        <th>Aktionen</th>
    </tr>

    <tr th:each="p : ${patients}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.name}"></td>
        <td th:text="${p.surname}"></td>
        <td>
            <a th:href="@{'/patient/edit/' + ${p.id}}">Bearbeiten</a>
            <a th:href="@{'/patient/delete/' + ${p.id}}">Löschen</a>
        </td>
    </tr>
</table>

</body>
</html>